/* reset */
*{
    margin: 0;
    box-sizing: border-box;
}

*:not(ul){
    padding: 0;
}
/*-------*/

/*----GENERAL----*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100vh;
    width: 100%;
    padding-top: 5%;
    background: linear-gradient(0deg, var(--backgrounds-grey) 0 80vh,var(--backgrounds-green) 0 20vh);
}

i{
    color: var(--button-font-color);
}

.my-container{
    max-width: 1200px;
    height: 90%;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.my-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.info-bar{
    background-color: var(--standard-ui-grey);
}

.info-bar > .user-profile{
    padding: 0 5px;
    max-width: 40%;
    flex-grow: 1;
}

.info-bar > .contact-profile{
    padding: 0 5px;
    max-width:60%;
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    flex-grow: 1;
}

.info-bar > .user-profile > .my-row, .info-bar > .contact-profile > .my-row{

    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.img-container{
    min-width: 25px;
    max-width: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 1px rgba(0, 150, 136, 0.5);
}

.avatar{
    display: block;
    width: 100%;
    object-fit: cover;
}

.profile-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.profile-info h3{
    margin-left: 5px;
}

.profile-buttons{
    display: flex;
    align-items: center;

}


.profile-buttons *{
    
    padding: 3px;
}

.sidebar{
    width: 40%;
    height:100%;
    background-color: var(--standard-ui-grey);
    overflow-y: hidden;
}

.flex-dir-col{
    flex-direction: column;
}

.wrapper.flex-dir-col{
    overflow-y: hidden;
}

.notification-box{
    background-color: var(--notification-lightblue);
    align-items: center;
    justify-content: space-around;

}

.notification-box > .img-container{
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 2rem;
    background-color: white;
    text-align: center;
    color: var(--notification-lightblue);
}

.searchbox{
    width: 100%;
    height: 30px;
    padding: 0.3rem;
}

.searchbox input{
    width: 90%;
    display: block;
    margin: 0 auto;
}

.chat-list{
    list-style-type: none;
    min-height: 100px;
    max-height: calc(100% - 100px);
    width: 100%;
    overflow-y: auto;
    display:flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 0.5rem;
}

.chat-list > li{
    flex-shrink: 0;
    flex-grow: 1;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.chat-list  .img-container{
    align-self: center;
}

.chat-list > li >.chat-info {
    flex-grow: 1;
}

.single-chat.active{
    background-color: var(--active-ui-grey);
}

.chat-info{
    padding-top: 5px;
    padding-left: 5px;
}

.chat-last-message{
    padding: 0.4rem;
    padding-bottom: 0;
    color: var(--info-text-color);
}

.chat-last-message div{
    width:70%;
    min-height: calc(1rem * 0.4 + 1rem );
    max-height: calc(2rem * 0.4  + 1rem);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.chat{
    width: 60%;
    max-height:100%;
    overflow-y: hidden;
}

.chat-log{
    min-height: 100px;
    height:calc(100% - 80px);
    width: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}

.received{
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1rem;
    flex-shrink: 0;
}


.sent{
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 1rem;
    flex-shrink: 0;
}

.received > div, .sent > div{
    min-width: 15%;
    max-width: 40%;
    padding:0.5rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    position: relative;
}

.received > div{
    background-color: var(--received-message-color);
}

.sent > div{
    background-color: var(--sent-message-color);
}

.date{
    display: block;
    text-align: right;
    font-size: 0.6rem;
    color: var(--info-text-color);
}

.message-menu{
    position: absolute;
    left: 0;
    top: calc(100% + 0.1rem);
    padding: 0;
    list-style: none;
    text-align: center;
    background-color: var(--standard-ui-grey);
    border-radius: 0.5rem;
}

.message-menu > li:first-of-type{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.message-menu > li{
    width: 150px;
    height: 40px;
    line-height: 40px;
}

.chat-input-container.my-row{
    background-color: var(--standard-ui-grey);
    height: 80px;
    justify-content: center;
    align-items: center;
}

.chat-input-container.my-row *{
    padding: 0.5rem;
}

.chat-input-container.my-row input{
    flex-grow: 1;
    flex-shrink: 0;
}

