/* reset */
*{
    margin: 0;
    box-sizing: border-box;
}

*:not(ul){
    padding: 0;
}
/*-------*/

/*----GENERAL----*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100vh;
    width: 100%;
    padding-top: 5%;
    background: linear-gradient(0deg,#F3EEEA 0 80%,#009688 0 20%);
}

.my-container{
    max-width: 1200px;
    height: 90%;
    margin: 0 auto;
    background-color: var(--standard-ui-grey);
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.sidebar{
    width: 40%;
    height:100%
}
.my-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.flex-dir-col{
    flex-direction: column;
}

.notification-box{
    background-color: var(--notification-lightblue);

}

.searchbox{
    padding: 0.3rem;
}

.chatlist{
    list-style-type: none;
    overflow-y: auto;
}

.chatlist > li{
    height: calc(100% / 9);
}


.chat{
    width: 40%;
    height:100%
}


