/* reset */
*{
    margin: 0;
    box-sizing: border-box;
}

*:not(ul){
    padding: 0;
}
/*-------*/

/*----GENERAL----*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100vh;
    width: 100%;
    padding-top: 5%;
    background: linear-gradient(0deg,#F3EEEA 0 80%,#009688 0 20%);
}

.my-container{
    max-width: 1200px;
    height: 90%;
    margin: 0 auto;
    background-color: var(--standard-ui-grey);
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.my-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}


.info-bar > .user-profile{
    max-width: 40%;
    border: 1px solid black;
    flex-grow: 1;

}

.info-bar > .contact-profile{
    max-width:60%;
    border: 1px solid black;
    flex-grow: 1;

}

.info-bar > .user-profile > .my-row, .info-bar > .contact-profile > .my-row{

    justify-content: space-around;
    align-items: center;
}

.img-container{
    
    width: 15%;
    border-radius: 50%;
    overflow: hidden;
    border: solid 1px black;
    
}

.user-profile  .img-container{
    width: calc(60% * 0.15);
}

.contact-profile  .img-container{
    width: calc(40% * 0.15);
}

.avatar{
    display: block;
    width: 100%;
    object-fit: cover;
}

.profile.buttons *{
    display: inline-block;
    padding: 3px;
}

.sidebar{
    width: 40%;
    height:100%
}

.flex-dir-col{
    flex-direction: column;
}

.notification-box{
    background-color: var(--notification-lightblue);
    align-items: center;
    justify-content: space-around;

}

.notification-box > .img-container{
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 2rem;
    background-color: white;
    text-align: center;
    color: var(--notification-lightblue);

}

.searchbox{
    width: 100%;
    padding: 0.3rem;
}

.searchbox *{
    width: 90%;
    display: block;
    margin: 0 auto;
}

.chat-list{
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
}

.chat-list > li{
    height: calc(100% / 8);
    flex-shrink: 0;
    flex-grow: 0;
    border: solid 1px black;
    
}



.chat{
    width: 60%;
    height:100%
}

.chat-log{

    background-image: url(../img/mine.jpg);
    padding: 10%;
    height:680px;
    overflow-y: auto;
}

.sent{
    padding-left: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 1;
    
}

.sent > div{
    max-width: 40%;
    padding:1rem 0.5rem;
    background-color: var(--sent-message-color);

    border: 1px solid black;
    border-radius: 20px;
}

.received{
    padding-right:1rem;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 1;
    
}

.received > div{
    max-width: 40%;
    padding:1rem 0.5rem;
    background-color: var(--received-message-color);

    border: 1px solid black;
    border-radius: 20px;
}
